<% title("Your Collection") %>

<h1> <%= @collection.name %> </h1>

<h4> Your collection is worth $<%= calculate_collection_value(@collection) %> </h4>

<% @collection.cards.each do | card | %>
  <li> <%= card.name %> - $<%= card.prices[1] %> </li>
<% end %>