<h1> Magic: The Gathering </h1>

<div class = 'row'>
    <p class = 'col-sm-6'> 
        Magic: The Gathering is the world's first, and most successful <%= link_to "Tradeable Card Game", "https://en.wikipedia.org/wiki/Collectible_card_game#Overview" %>. 
        Released in late 1993, it was an immediate success and cards sold out immediately, with the company,  <%= link_to "Wizards of the Coast", "https://en.wikipedia.org/wiki/Wizards_of_the_Coast" %> initially
        unable to meet demand for over a year. 
    </p>

</div>

<div class = 'row'>
    <p class = 'col-sm-6'> 
        The oringal 295-card set, <b>Alpha</b>, was released in August of 1993. with about 2.6 million cards being produced. Of those 2.6 million cards, there were about 1,100 of each "rare" card,
        around 4,500 of each "uncommon", and about 16,000 of each "common" card. 
    </p>
</div>

<div class = 'row'>
    <p class = 'col-sm-8'> 
        Of this 295-card set, some ended up being very highly sought-after-- a very few, in particular, and one above all else: Black Lotus.
    </p>

    <div class = 'col-sm-6'>
        <%= image_tag 'https://img.scryfall.com/cards/normal/en/lea/232.jpg', style: "border-radius: 6.1%" %>
    </div>
    
    <br> 
    <br> 

    <p class = 'col-sm-7'>
      In the early days of Magic, an Alpha Black Lotus could be had for around $50; as late as 1999, they could be bought for around $400. Today, they rarely go for under $10,000, except in very poor condition,
      and regularly sell for many tens of thousands; Lotuses in mint condition have sold for well over $100,000.
    </p>

    <p class = 'col-sm-7'>
       The second-most sought after cards are the original five Moxes (or "Moxen"; the Mox Emerald, Ruby, Sapphire, Jet and Pearl), Ancestral Recall, Timetwister, and Time Walk. Collectively, in addition to Black Lotus, they are known as the Power Nine.
    </p>
</div>