<% title("MTG - #{params[:color]} Cards") %>

<h1 class='text-center'> <%= image_tag "mana_symbols/#{color_to_mana(params[:color])}", class: "spin" %> </h1>

<h2 style='text-align: center'> <%== pagy_bootstrap_nav(@pagy) %> </h2>

<% @cards.each_with_index do | card, idx | %> 
  <h2> <%= truncate_at_three_words(card.name) %> </h2> 

  <div class = "col-sm-2 filter"> 
    <%= link_to ( image_tag card.img_url, class: "filter-img #{card.edition.downcase}", lazy: (true if idx > 5) ), card_path(card.edition, card.card_number&.include?('b') ? Card.find_by(multiverse_id: card.flip_card_multiverse_id).name : card.name) %>
  </div>
<% end %>