<h1> <%= link_to('<-Back', root_path) %> </h1> 

<center> <h1> <%= image_tag "mana_symbols/#{color_to_mana(params[:filter])}" %> </h1></center>

<% @cards.each do | card | %> 
  <h2> <%= card.name %> </h2> 
  <%= link_to ( image_tag card.img_url, class: "col-sm-2 filter" ), card_path(card) %> 
<% end %>