<% unless @matches.empty? && @partial_matches.empty? %>

  <div class="row">
    <div class="col-sm-4 text-center">
      <h1> Matches: </h1>

      <% @matches.each do | edition, name, img_url | %>
        <li data-toggle='popover' data-content='<%= image_tag(img_url) %>' title=" ">
          <%= link_to(name, card_path(edition, name), class: 'popover-js popover-link') %> 
        </li>
      <% end %>
    </div>

    <div class="col-sm-4"></div>

    <div class="col-sm-4 text-center">
      <h1> Partial Matches: </h1>
      
      <% @partial_matches.each do | edition, name, img_url | %>
        <li data-toggle='popover' data-content='<%= image_tag(img_url) %>' data-placement='left' title=" ">
          <%= link_to(name, card_path(edition, name), class: 'popover-js popover-link') %> 
        </li>
      <% end %>
    </div>
  </div>

<% else %>
  <h1> No results found. </h1>
<% end %>