@import "bootstrap-sprockets";
@import "bootstrap";
@import "card";
@import "deck";
@import "home_page";
@import "navigation";
@import "search_bar";

@font-face {
    font-family:"MagicMedieval";
    src: url(font-path('MagicMedieval.ttf'));
}

body {
    padding-left: 50px;
    background-color: rgb(1, 22, 9); //1,29,12 is decent too
    background-image: url('/assets/wall-4-light.png');
    color: silver;
}

input, select, button {
    color: black;
}

.row {
    margin-right: 0px;
}

.hide-overflow {
    overflow: hidden;
}

a, a:visited {
    color: rgb(150, 197, 150);

    &:hover {
        text-decoration: none;
        color: rgba(217, 235, 218, 0.75);
    }
}

//****Edition, Color and Artist Pages*******//

.filter-img {
    width: 223px;
    height: 310px;
    border-radius: 3.5%;

    &.alpha {
        border-radius: 5.4%;
    }
}

.col-sm-2.filter {
    transition: .4s;

    &:hover {
        transform: scale(1.06);
    }
}

.spin {
    animation: spin 4s linear infinite;

    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    width: 6%;
}
//*************************//

.margin-3em-top-bottom {
    margin-top: 3em;
    margin-bottom: 3em;
}