@import "bootstrap-sprockets";
@import "bootstrap";
@import "card";
@import "deck";

body {
    padding-left: 50px;
    background-color: rgb(217, 215, 224);
}

//*****CARD DISPLAY DIV***//

.card_img_div {
    margin-top: 2%;
    padding-left: 15px;
    margin-bottom: 2.5%;
}

.card_img {
    transition: transform .3s;
    width: 224px;
    height: 310px;
    margin: 0 auto;
    border-radius: 4%;
}

.card_img.alpha {
    border-radius: 5.2%;
}

.card_img:hover {
    filter: drop-shadow(8px 8px 10px rgba(0,0,0,0.9));
    transform: scale(1.2);
    border-radius: 12px; 
}

.card_img.alpha:hover {
    border-radius: 5.2%;
}

.col-sm-3.flavor {
    margin-top: 0.5%;
    font-style: italic;
    font-weight: 200;
    font-family: cursive;
    float: none;
}
//************************//

//********navbar tweaks***//
.navbar {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

h5.navbar a {
    padding-right: 0.5%;
}
//************************//


//****Search Bar***********//
.search-bar {
    margin-bottom: 2.5%;
}
//*************************//

//****Filtered Pages*******//

.col-sm-2.filter {
    transition: .4s;
    border-radius: 6.5%;
}

.col-sm-2.filter:hover {
    transform: scale(1.06);
}

.margin-3em-top-bottom {
    margin-top: 3em;
    margin-bottom: 3em;
}

.spin {
    animation: spin 4s linear infinite;

    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
}
//*************************//