@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-left: 50px;
}

 
//*****CARD DISPLAY DIV***//

.card_img {
    padding-left: 15px;
    transition: transform .3s; /* Animation */
    width: 238px;
    height: 310px;
    margin: 0 auto;
}

.card_img:hover {
    filter: drop-shadow(8px 8px 10px rgba(0,0,0,0.9));
    transform: scale(1.2);

    //To fix issue with the drop-shadow adding a white corner
    border-radius: 12px; 
}

#flavor {
    font-style: italic;
    font-weight: 200;
    font-family: cursive;
}
//*************************//


//****Filtered Pages*******//

.col-sm-2.filter {
    transition: .4s;
}

.col-sm-2.filter:hover {
    transform: scale(1.06);
}

.margin-3em-top-4em-bottom {
  margin-top: 3em;
  margin-bottom: 3em;
}
//*************************//