@import "bootstrap-sprockets";
@import "bootstrap";
@import "card";
@import "deck";
@import "home_page";

@font-face {
    font-family:"MagicMedieval";
    src: url(font-path('MagicMedieval.ttf'));
}

body {
    padding-left: 50px;
    background-color: rgb(1, 22, 9); //1,29,12 is decent too
    background-image: url('/assets/wall-4-light.png');
    color: silver;
}

input, select, button {
    color: black;
}

.row {
    margin-right: 0px;
}

a, a:visited {
    color: rgb(150, 197, 150);
}

a:hover {
    text-decoration: none;
    color: rgba(217, 235, 218, 0.75);
}
//********navbar tweaks***//
.navbar {
    display: block;
    text-align: center;

    padding-top: 0.75%;
    margin-right: 50px;
    background-color: black;
    border: 2px solid #3c763d;
    font-size: 20px;
}

@media (max-width: 1208px) {
    .navbar {
        font-size: 15px;
        padding-top: 1.5%;
    }
}

.navbar a {
    padding-right: 2%;
    margin-left: 1%;
}

.navbar a:hover {
    color: rgb(119, 163, 119);
}

//****Search Bar***//
.search-bar {
    float: right;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 0.9em;
    font-family: 'Times New Roman';
}

.search-input {
    text-align: center;
    border-radius: 12px;
    border: 1px darkblue;
}
//*****************//

.account-settings {
    float: right; 
    font-size: 10px;
}
//************************//

//****Edition, Color and Artist Pages*******//

.filter-img {
    width: 223px;
    height: 310px;
    border-radius: 3.5%;
}

.filter-img.alpha {
    border-radius: 5.4%;
}

.col-sm-2.filter {
    transition: .4s;
}

.col-sm-2.filter:hover {
    transform: scale(1.06);
}

.spin {
    animation: spin 4s linear infinite;

    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    width: 6%;
}
//*************************//

.margin-3em-top-bottom {
    margin-top: 3em;
    margin-bottom: 3em;
}