@import "bootstrap-sprockets";
@import "bootstrap";
@import "card";
@import "deck";
@import "home_page";

body {
    padding-left: 50px;
    background-color: rgb(1, 22, 9);
    background-image: url('/assets/wall-4-light');
    color: silver;
}

input, select, button {
    color: black;
}

.row {
    margin-right: 0px;
}

a {
    color: rgb(120, 180, 120);
}

//********navbar tweaks***//
.navbar {
    display: block;
    text-align: center;

    padding-top: 0.75%;
    margin-right: 50px;
    background-color: black;
    border: 2px solid #3c763d;
    font-size: 20px;
}

.navbar a {
    padding-right: 2%;
    margin-left: 2%;
}

//****Search Bar***//
.search-bar {
    float: right;
    padding-bottom: 10px;
    font-size: 0.9em; 
    font-family: 'Times New Roman'
}
//*****************//

.account-settings {
    float: right; 
    font-size: 10px;
}
//************************//

//****Filtered Pages*******//

.filter-img {
    border-radius: 3.3%;
}

.filter-img.alpha {
    border-radius: 5.4%;
}

.col-sm-2.filter {
    transition: .4s;
}

.col-sm-2.filter:hover {
    transform: scale(1.06);
}

.margin-3em-top-bottom {
    margin-top: 3em;
    margin-bottom: 3em;
}

.spin {
    animation: spin 4s linear infinite;

    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    width: 6%;
}
//*************************//

@font-face {
    font-family:"MagicMedieval";
    src: url(font-path('MagicMedieval.ttf'));
}