//=====Boostrap/Pagy Pagination Styling override======
.pagination > li > a,
.pagination > li > span {
  color: #78b478;
  background-color: #000;
  border: 1px solid #1c8d25;
  border-radius: 10%;
  //font-family: MagicMedieval;
}

//Next/Prev pagination buttons
.pagination > li:first-child > a, 
.pagination > li:first-child > span {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.pagination > li:last-child > a, 
.pagination > li:last-child > span {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.pagination > .active > a {
    background-color: #3c753d;
}

.pagination > .active:hover > a {
    background-color: #3c753d;
}


//===========Card Show Page========

.card_show_page {
    padding-left: 1%;
}

.row.no-right-margin {
    margin-right: 0px;
}

.show_page_card_name {
    font-family: 'MagicMedieval';
    min-height: 64px;
    max-height: 64px;
}

#show_page_edition_svg_link {
    min-width: 64px; 
    max-width: 96px; 
    max-height: 66px;
}

#other_editions {
    float: right; 
    margin-right: 3%;
    margin-top: 10px;
}

//=== card image on card show page
.card_show {
    transition: 1.5s;
    border-radius: 4%;
    height: 310px;
    width: 223px;
    position: absolute;
}

.card_show.alpha {
    border-radius: 6%;
}

#cropped-img {
    min-height: 460px; 
    max-height: 500px;
}

.card_show:hover {
    box-shadow: 1px 1px 8px rgba(0,0,0,1.0);
}

#rotate {
    margin-left: 1%;
}
//~~~~Transform cards~~~~~~~~~
.flip-card {
    width: 223px;
    height: 310px;
    perspective: 2000px;
}
  
.flip-card-inner {
    position: relative;
    transition: transform 1.3s;
    transform-style: preserve-3d;
}
  
.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    //fix for firefox not responding to backface-visibility
    transform: rotateX(0deg);
}
  
.flip-card-front {
    z-index: 2;
}
  
.flip-card-back {
    transform: rotateY(180deg);
    z-index: 1;
}
//----------------------------------


//=========Popover============

div.popover.right {
    border-radius: 4.5%;
    margin-left: 14%;
}

div.popover.left {
    border-radius: 4.5%;
}

//removes border
.popover-content {
    padding: 0px;
}

.popover-content img {
    border-radius: 4%;
}

.popover-title {
    display: none;
}

.popover {
    height: 310px;
    width: 223px;
}

//=====Find By Property Page========

h1#pagination-pg-num {
    font-size: 150%;
    font-family: 'MagicMedieval';
    display: none;
}

.thumb {
    border-radius: 3.6%;
    transition: 1.1s;
}

.thumb:hover {
    box-shadow: 1px 1px 50px rgb(254, 255, 245);
}

.thumb.alpha {
    border-radius: 5.9%;
}