//=== card image on card show page
.card_show {
    transition: 1.5s;
    border-radius: 3.7%;
    height: 310px;
    width: 223px;
    position: absolute;
}

.card_show.alpha {
    border-radius: 6%;
}

.card_show:hover {
    box-shadow: 1px 1px 8px rgba(0,0,0,1.0);
}
//===============================

.card_show_page {
    margin-left: 5%;
}

.row.no-right-margin {
    margin-right: 0px;
}

.show_page_card_name {
    font-family: 'MagicMedieval';
}


//~~~Transform cards~~~~~~~~~
.flip-card {
    width: 223px;
    height: 310px;
    perspective: 2000px;
}
  
.flip-card-inner {
    position: relative;
    transition: transform 1.3s;
    transform-style: preserve-3d;
}
  
.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    //fix for firefox not responding to backface-visibility
    transform: rotateX(0deg);
}
  
.flip-card-front {
    z-index: 2;
}
  
.flip-card-back {
    transform: rotateY(180deg);
    z-index: 1;
}
//----------------------------------


//=========Popover============

div.popover.right {
    border-radius: 4.5%;
    margin-left: 14%;
}

div.popover.left {
    border-radius: 4.5%;
}

//removes border
.popover-content {
    padding: 0px;
}

.popover-content img {
    border-radius: 4%;
}

.popover-title {
    display: none;
}

.popover {
    height: 310px;
    width: 223px;
}

//=====Find By Property Page========

h1#pagination-pg-num {
    font-size: 150%;
    font-family: 'MagicMedieval';
    display: none;
}

.thumb {
    border-radius: 3.6%;
    transition: 1.1s;
}

.thumb:hover {
    box-shadow: 1px 1px 50px rgb(254, 255, 245);
}

.thumb.alpha {
    border-radius: 5.9%;
}