.card_show {
    border-radius: 3.7%;
}

.card_show.alpha {
    border-radius: 5.9%;
}

.card_show:hover {
    box-shadow: 1px 1px 8px rgba(0,0,0,1.0);
}

.row.no-right-margin {
    margin-right: 0px;
}
//=========Popover============

div.popover.right {
    border-radius: 4.5%;
    margin-left: 14%;
}

div.popover.left {
    border-radius: 4.5%;
}

//removes border
.popover-content {
    padding: 0px;
}

.popover-content img {
    border-radius: 4%;
}

.popover-title {
    display: none;
}

.popover {
    height: 310px;
    width: 223px;
}

//======================


