//=====Boostrap/Pagy Pagination Styling override======
.pagination > li > a,
.pagination > li > span {
  color: #78b478;
  background-color: #000;
  border: 1px solid #1c8d25;
  border-radius: 10%;
  //font-family: MagicMedieval;
}

//Next/Prev pagination buttons
.pagination > li:first-child > a, 
.pagination > li:first-child > span {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.pagination > li:last-child > a, 
.pagination > li:last-child > span {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.pagination > .active > a {
    background-color: #3c753d;

    &:hover {
        background-color: #3c753d;
    }
}

//===========Card Show Page========

.card_show_page {
    padding-left: 1%;
}

.row.no-right-margin {
    margin-right: 0px;
}

.show_page_card_name {
    font-family: 'MagicMedieval';
    min-height: 64px;
    max-height: 64px;
}

#show_page_edition_svg_link {
    min-width: 64px; 
    max-width: 96px; 
    max-height: 66px;
}

#other_editions {
    float: right; 
    margin-right: 3%;
    margin-top: 10px;
}

.other-edition {
    width: 32px;
    margin-right: 2px;
}

#reserved-icon {
    margin-left: 1%;
}

//=== card image on card show page
.card_show {
    transition: 1.5s;
    border-radius: 4.75% / 3.5%;
    height: 310px;
    width: 223px;
    position: absolute;
  
    &:hover {
        cursor: zoom-in;
    }

    &.alpha {
        border-radius: 7% / 5.5%;
    }

    &.zoomed {
        width: 502px;
        height: 700px;
        &:hover {
            cursor: zoom-out;
        }
    }
}

//foil overlay for foil cards on open_booster_packs page
.foil-overlay {
    position: absolute; 
    top: 32px; 
    left: 25px; 
    pointer-events: none;

    &.post-2015-foil {
        top: 29px;
        left: 24px;
        width: 205px;
    }
}

#prices {
  transition: 2s; 
  float: left;

  &.pushed-right {
    transition: 1.2s;
    margin-left: 57.5%; 
    margin-top: 3.5%;
  } 

}

// .card_show:hover {
//     box-shadow: 1px 1px 8px rgba(0,0,0,1.0);
// }

#cropped-img {
    min-height: 460px; 
    max-height: 500px;
}

//hacky way to disappear image and not have it interfere w/layout
@media(max-width: 1000px) {
    #cropped-img {
        opacity: 0;
        z-index: 0;
    }

    .card_show {
        z-index: 10;
    }

    #artist-link {
        display: none;
    }
}

#rotate, #transform {
    margin-left: 1%;
}
//~~~~Transform cards~~~~~~~~~
.flip-card {
    width: 223px;
    height: 310px;
    perspective: 2000px;
}
  
.flip-card-inner {
    position: relative;
    transition: transform 1.3s;
    transform-style: preserve-3d;
}
  
.flip-card-front, .flip-card-back {
    
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    //Mac/iOS Safari including 13.0 TP
    -webkit-backface-visibility: hidden;
    //fix for firefox not responding to backface-visibility
    transform: rotateX(0deg);
}
  
.flip-card-front {
    z-index: 2;
}
  
.flip-card-back {
    transform: rotateY(180deg);
    z-index: 1;
}
//----------------------------------


//=========Popover============

.popover {
    height: 310px;
    width: 223px;
    border-radius: 4.5%;

    img {
        border-radius: 4%;
    }

    .popover-title {
        display: none;
    }
    
    &.right {
        margin-left: 14%;
    }    
}

//removes border
.popover-content {
    padding: 0px;
}

//=====Find By Property Page========

h1#pagination-pg-num {
    font-size: 150%;
    font-family: 'MagicMedieval';
    display: none;
}

.thumb-header {
    font-size:1.5vw; 
    min-height:32px;
    font-family: MagicMedieval;
}

.thumb {
    border-radius: 3.6%;
    transition: 1.1s;

    &.alpha {
        border-radius: 7% / 5.5%;
    }

    &:hover {
        box-shadow: 1px 1px 50px rgb(254, 255, 245);
    }
}
