// Place all the styles related to the collection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#create_collection {
    margin-top: 50px;
}

.cardlist-for-collection {
    color: black;
    min-height: 100px;
    min-width: 200px;
    margin-top: 50px;
}

#collection-page-title {
    font-family: MagicMedieval;
}