.col-sm-1.filter:hover {
    transform: scale(1.1);
    z-index: 1;
}

.hand-card {
    border-radius: 12px;
    z-index: 0;
}

div.hand-odds {
    float: right;
    padding-right: 8%
}

div.stats {
    float: right;
    padding-right: 5%;
}

div.row.margin-bottom {
    margin-bottom: 2%;
}