.col-sm-1.filter:hover {
    transform: scale(1.1);
    z-index: 1;
}

.hand-card {
    border-radius: 12px;
    z-index: 0;
    box-shadow: 1px 1px 8px rgba(0,0,0,1.0);
}

div.hand-odds {
    float: right;
    padding-right: 8%
}

div.stats {
    float: right;
    padding-right: 5%;
}

div.row.margin-bottom {
    margin-bottom: 2%;
}

div.col-sm-2.pad-4 {
  margin-left: 10%;
}

.deck-display {
    position: absolute;
    border-radius: 5%;
}

.deck-show-card-name {
    font-family: MagicMedieval, Times;
    font-size: 80%;
}