.col-sm-1.filter:hover {
    transform: scale(1.1);
    z-index: 1;
}

.hand-card {
    border-radius: 12px;
    z-index: 0;
    box-shadow: 1px 1px 8px rgba(0,0,0,1.0);
}

div.hand-odds {
    float: right;
    padding-right: 8%
}

div.stats {
    float: right;
    padding-right: 5%;
}

div.row.margin-bottom {
    margin-bottom: 2%;
}

div.col-sm-2.pad-4 {
  margin-left: 10%;
}

#deck-holder-card-back {
    position: absolute;
    border-radius: 4.6%;
}

.deck-display {
    position: absolute;
    border-radius: 4.2%;
}

.deck-display.alpha {
    border-radius: 5.5%;
}

.deck-show-card-name {
    font-family: MagicMedieval, Times;
    font-size: 80%;
}

div.btn.btn-sm {
    padding-right: 10%;
}

.popover {
    height: 310px;
    width: 223px;
}

//***** Overview Page *****//

.deck-display {
    height: 558px;
    width: 400px;
}

#deck-value {
    font-family: Times; 
    font-size: 80%
}

#deck-list-title {
    font-family: Arial; 
    font-size: 120%;
}

#deck-holder {
    margin-top: 7%; 
    padding-left: 5.5%; 
    display: inline-block;
}

#pieChartContainer {
    height: 300px;
    width: 25%;
    margin-left: 12.1%;
}

#splineContainer {
    float: right;
    height: 200px;
    width: 25%;
    margin-right: 3.5%; 
    margin-top:2%; 
}