// Place all the styles related to the edition controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.booster-card {
    margin-bottom: 1%;
    margin-top: 1%;
}