// Place all the styles related to the home_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*****CARD DISPLAY DIV***//

.rare, .uncommon, .common {
    height: 2%;
}

.card_img_div {
    margin-top: 2%;
    padding-left: 15px;
    margin-bottom: 2.5%;
}

.card_img {
    transition: transform .3s;
    width: 223px;
    height: 310px;
    margin: 0 auto;
    border-radius: 4%;
}

.card_img.alpha {
    border-radius: 5.9%;
}

.card_img:hover {
    filter: drop-shadow(8px 8px 10px rgba(0,0,0,0.9));
    transform: scale(1.2);
}

.flavor {
    margin-top: 0.5%;
    font-weight: 200;
    font-family: cursive;
    width: 20%;
    margin: auto;
}
//************************//