$navbar-border-color: #3c763d;

.navbar {
    display: block;
    text-align: center;

    padding-top: 0.75%;
    
    background-color: black;
    border: 2px solid $navbar-border-color;
    font-size: 20px;

    .nav-link {
        padding-right: 2%;
        margin-left: 1%;
    
        &:hover {
            color: rgb(119, 163, 119);
        }
    }
}

.drop-down {
    overflow: hidden;
    float: left;

    .drop-button {
        border: none;
        outline: none;
        color: rgb(150, 197, 150);
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
}
  
.drop-down-content {
    margin-left: -2px;
    display: none;
    position: absolute;
    border-bottom: 2px solid $navbar-border-color;
    border-left: 2px solid $navbar-border-color;
    min-width: 180px;
    z-index: 1;

    .nav-link {
        float: none;
        padding: 12px 16px;
        display: block;
        text-align: left;
        background-color: black;
    }
}
  

.drop-down:hover .drop-down-content {
  display: block;
}

@media (max-width: 1375px) {
    .navbar {
        font-size: 15px;
        padding-top: 1.5%;
    }
}

.account-settings {
    float: right; 
    font-size: 10px;
}