
.search-bar {
    float: right;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 0.9em;
    font-family: 'Times New Roman';
}
  
.search-input {
    text-align: center;
    border-radius: 12px;
    border: 1px darkblue;
    outline: none;
}