<h5 class = "navbar fixed-top"> 
  <%= link_to "Home", root_path %>  
  <%= link_to "Decks", decks_path %> 
  <%= link_to "Calculator", "/hand_odds_calculator" %> 
  <%= link_to "Find Cards by Property", "/cards/find_by_properties" %>
</h5>